root = true

[*]
charset                  = utf-8
trim_trailing_whitespace = true
end_of_line              = lf
insert_final_newline     = true
ij_visual_guides         = 80, 120

[*.php]
ij_php_align_assignments        = true
ij_php_phpdoc_wrap_long_lines   = true
ij_php_align_phpdoc_param_names = true
ij_php_align_phpdoc_comments    = true

[*.{php,twig,xml}]
indent_size  = 2
indent_style = space

[*.{yaml,yml}]
indent_size  = 4
indent_style = space

[.github/**/*.{yaml,yml}]
indent_size  = 2

[*.{md,markdown}]
trim_trailing_whitespace = false
indent_size              = 2
indent_style             = space
max_line_length          = 80

[{Dockerfile,*.Dockerfile}]
indent_size  = 4
indent_style = space

[.editorconfig]
ij_editorconfig_align_group_field_declarations     = true
ij_editorconfig_spaces_around_assignment_operators = true
ij_editorconfig_space_before_comma                 = false
ij_editorconfig_space_after_comma                  = true
