/.editorconfig    export-ignore
/.gitattributes   export-ignore
/.github          export-ignore
/.gitignore       export-ignore
/.idea            export-ignore
/.phive           export-ignore
/.psalm           export-ignore
/CHANGELOG.md     export-ignore
/README.md        export-ignore
/build            export-ignore
/build.png        export-ignore
/docs             export-ignore
/examples         export-ignore
/phpstan          export-ignore
/phpunit.xml      export-ignore
/phpunit.xml.dist export-ignore
/tests            export-ignore

*.php	text	eol=lf	diff=php
*.js	text	eol=lf
*.json	text	eol=lf
*.svg	text	eol=lf
*.bat	text	eol=crlf
*.phar	binary
*.zip	binary
*.pdf	binary
*.png	binary
*.jpg	binary
